label {
    display: inline-block;
    width: 100px; 
    text-align: right;
    margin-right: 10px; 
}

input[type="text"],
input[type="date"],
textarea {
    width: 300px; 
    margin-bottom: 10px; 
}

input[type="button"] {
    display: inline-block; 
    width: auto; 
    margin-left: 110px; 
    margin-top: 10px; 
}
